<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload PDF Document</title>
  <link rel="stylesheet" href="{{ url_for('send_template_file', filename='upload.css') }}">
</head>
<body>
  <div class="upload-container">
    <h2>Upload Document for Analysis</h2>
    <form id="uploadForm" enctype="multipart/form-data">
      <input type="file" name="file" id="fileInput" accept=".pdf, .png, .jpg, .jpeg, .tiff" required>
      
      <p>Select Analysis Mode:</p>
      <label>
        <input type="radio" name="doc_type" value="large" required> 
        Large/Very Large Document (lots of words) 
        <br><br>Render_resolution = 500 EasyOCR or 150 TesseractOCR <br> Conversion_resolution = 55 EasyOCR or 200 TesseractOCR
      </label>
      <br><br>
      <label>
        <input type="radio" name="doc_type" value="small"> 
        Small/Medium Document (fewer words) 
        <br><br>Render_resolution = 300 EasyOCR or 110 TesseractOCR <br> Conversion_resolution = 100 EasyOCR & TesseractOCR
      </label>
      <br> <br>
      <label>
        <input type="radio" name="doc_type" value="custom"> 
        Custom
      </label>

      <!-- Custom settings inputs -->
      <div class="custom-settings" id="customSettings">
        <p>
          Conversion Resolution (for images): 
          <input type="number" name="conversion_resolution" min="1" max="1000" step="0.1" placeholder="e.g., 55" required>
          DPI (Recommended from 50 - 100)
        </p>
        <p>
          Render Resolution (for PDFs): 
          <input type="number" name="render_resolution" min="1" max="1000" step="0.1" placeholder="e.g., 500" required>
          DPI (Recommended from 300 - 500)
        </p>
      </div>

      <p>Select JSON Output Mode:</p>
      <label>
        <input type="radio" name="json_mode" value="with_text" required> With Text
      </label>
      <label>
        <input type="radio" name="json_mode" value="without_text" required> Without Text
      </label>
      <br>
      
      <!-- New OCR engine selection -->
      <p>Select OCR Engine:</p>
      <label>
        <input type="radio" name="ocr_engine" value="tesseract" required>
        TesseractOCR
      </label>
      <label>
        <input type="radio" name="ocr_engine" value="easyocr">
        EasyOCR
      </label>
      <br>

      <button type="button" onclick="uploadAndAnalyze()">Upload and Analyze</button>
      <button type="reset">Reset Form</button>
      
      <div id="execTime" style="display:none; margin-top:20px; font-weight:bold;"></div>
    </form>
    <div id="progressBarContainer">
      <div id="progressBar"></div>
      <div id="progressText">0%</div>
    </div>
    <div id="processingMessage">Processing file... Please wait.</div>
  </div>
  <script src="{{ url_for('send_template_file', filename='upload.js') }}"></script>
</body>
</html>
